html,
body {
  height: 100%;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: #222;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-item {
  text-align: center;
}

.nav-item i {
  font-size: 20px;
}

.cart-badge {
  position: absolute;
  top: 2px;
  right: 10px;
  background: navy;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* menu drop */
.dropdown-center {
  position: relative;
  display: inline-block;
}

.dropdown-center .btn {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  position: relative;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  /* já reserva espaço */
  transition: border-color 0.2s ease;
}

.dropdown-center .btn.dropdown-toggle::after {
  display: none;
}

.dropdown-center .btn {
  border-bottom: 3px solid transparent;
  /* espaço reservado */
}

.dropdown-center .btn:hover {
  border-bottom-color: red;
  /* muda só a cor no hover */
}

.dropdown-center:hover .dropdown-menu {
  display: block;
  margin-top: 1px;
}

.dropdown-menu {
  margin-top: 0;
}

/* Container do carrossel */
.carousel-fixed-height {
  max-height: 500px;
  width: 95vw;
  /* 90% da largura da viewport */
  margin: 5px auto;
  overflow: hidden;
  /* Evita vazamento de imagem */
}

/* Garante que os itens do carrossel preencham o espaço */
.carousel-fixed-height .carousel-item {
  height: 500px;
}

/* Estiliza a imagem para preencher o item */
.carousel-fixed-height .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Wrapper do carrossel */
.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* CARD PADRÃO */
.card2 {
  width: 230px;
  height: 450px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  transition: transform .2s ease, box-shadow .2s ease;
}

/* Animação ao passar o mouse */
.card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

/* Imagem */
.card2 img {
  width: 100%;
  height:190px;
  object-fit: cover;
  background: #f5f5f5;
  margin-top: 15px;
}

/* Textos */
.card-body {
  padding: 15px;
  text-align: left;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  min-height: 45px;
  margin-bottom: 20px;
}

/* Preço antigo */
.card-old-price {
  text-decoration: line-through;
  color: #8d8d8d;
  font-size: 13px;
  margin-right: 6px;
}

/* Porcentagem de desconto */
.card-discount {
  background: #e60000;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
}

/* Preço atual */
.card-price {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #c40000;

}

/* Parcelamento */
.card-parcel {
  font-size: 12px;
  color: #666;
  margin-top: -30px; /* aproxima do preço */
  display: block;
}


/* Botão */
.card2 .btn-primary {
  margin-top: 12px;
  width: 100%;
  background: #ff0000;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

.card2 .btn-primary:hover {
  background: #d60000;
}

/* Botões laterais do carrossel */
.carousel-control-prev,
.carousel-control-next {
  background-color: #bebcbc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 45%;
  transform: translateY(-50%);
}


/* cards incio*/
/* From Uiverse.io by Sashank02 */
.card3 {
  padding: 20px;
  width: 300px;
  min-height: 450px;
  border-radius: 20px;
  background: #212121;
  box-shadow: 5px 5px 8px #1b1b1b,
    -5px -5px 8px #272727;
  transition: 0.4s;
}

.card3:hover {
  translate: 0 -10px;
}

.card-title3 {
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}


.card3 img.card-img-top {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
}


.card-body3 {
  margin: 13px 0 0 10px;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.footer3 {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}

/*cards que mexem */
.card {
  position: relative;
  width: 350px;
  height: 250px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card img {
  height: 100%;
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

.card:hover img {
  scale: 0;
  transform: rotate(-45deg);
}