.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-item {
    text-align: center;
}

.nav-item i {
    font-size: 20px;
}

.cart-badge {
    position: absolute;
    top: 2px;
    right: 10px;
    background: navy;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* menu drop */
.dropdown-center {
    position: relative;
    display: inline-block;
}

.dropdown-center .btn {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    /* já reserva espaço */
    transition: border-color 0.2s ease;
}

.dropdown-center .btn.dropdown-toggle::after {
    display: none;
}

.dropdown-center .btn {
    border-bottom: 3px solid transparent;
    /* espaço reservado */
}

.dropdown-center .btn:hover {
    border-bottom-color: red;
    /* muda só a cor no hover */
}

.dropdown-center:hover .dropdown-menu {
    display: block;
    margin-top: 1px;
}

.dropdown-menu {
    margin-top: 0;
}

/*produtos*/

